@page
@model RedmineServer.RedmineClient.RedmineClient
@{
    ViewData["Title"] = "RedmineClient";
}

<h1>@ViewData["Title"]</h1>

<div>
    <ul>
        @foreach(var project in Model.Projects)
        {
            <li>@project.Name - @project.Description</li>
        }
    </ul>
</div>