@page "/managers"
@using BlazorClient.Models
@inject HttpClient Http

<PageTitle>Managers</PageTitle>

<h3>Managers</h3>
@if (managers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
    @foreach (var manager in managers)
    {
        <li>@manager.Name - @manager.Email</li>
    }
    </ul>
}

@code {
    private List<ManagerDTO>? managers;

    protected override async Task OnInitializedAsync()
    {
        managers = await Http.GetFromJsonAsync<List<ManagerDTO>>("api/Managers");
    }
}

